@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playpen+Sans:wght@100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Playpen+Sans:wght@100..800&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

header{
    background-color: palevioletred;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2vw ;
    margin: 1vw 1vw 0 1vw;
}
header h1{
    padding: 0.3vw 0 0.3vw 5.5vw;
}
header ul{
    display: flex;
    margin-right: 3vw;
}
header ul li{
    margin: 0 2vw;
    font-size: 1.5vw;
    font-family: sans-serif;
}
header ul li a{
    color: white;
    font-family: "sour gummy";
    padding: 10px;
    border-radius: 1vw;
}
header ul li.vcEstaAqui a{
    background-color: rgb(216, 140, 165);
}
header ul li a:hover{
    background-color: rgb(216, 140, 165);
    transition: 0.5s;
}

body{
    background-color: pink;
    border-radius: 1vw;
}

main section.sec-introducao{
    background-color: white;
    margin: 1vw 10vw;
    height: 30vw;
    border-radius:2vw ;
}
main section.sec-introducao h2{
    padding: 2vw 0 0 0 ;
    font-family: 'sour gummy';
    font-size: 4vw;
    text-align: center;
}

main section.sec-introducao h3{
    text-align: center;
    font-size: 2vw;
    font-family: 'comfortaa' ;
    margin-bottom: 3vw;
}

main section.sec-introducao div.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

main section.sec-introducao div.img img:first-child{
    margin-right: 3vw;
}
main section.sec-introducao div.img img:nth-child(2){
    margin-right: 3vw;
}

main section.sec-introducao div.img img{
    margin-left: 4vw;
    border-radius: 2vw;
}
main section.sec-introducao div.img h4{
    font-size: 6vw;
}



main section.geral-sec-dois{
    background-color: white;
    margin: 5vw 10vw;
    height: 30vw;
    border-radius:2vw ;
}

main section.geral-sec-dois h2{
    text-align: center;
    font-size: 3vw;
    padding: 2vw 0 0.2vw 0 ;
    font-family: 'sour gummy';
}

main section.geral-sec-dois ul{
    display: flex;
    justify-content: center;
    padding: 0 3vw 3vw 3vw;
}

main section.geral-sec-dois li{
    text-align: center;
    padding: 0 2vw;
}

main section.geral-sec-dois i{
    font-size: 5vw;
}


main section.geral-sec-dois h3{
    font-size: 2vw;
    font-family: 'comfortaa';
}

main section.geral-sec-dois p{
    font-size: 1vw;
}




footer{
    background-color: palevioletred;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2vw ;
    margin: 1vw 1vw 1vw 1vw;
    font-size: 3vw;
    
}

footer p{
    padding: 1vw;
    font-size: 1.3vw;
    margin-left: 6vw;
}
footer ul{
    padding: 1vw;
    margin-right: 5vw;
    display: flex;
}
footer ul li{
    margin: 0 1vw;
}